body {
  text-align: left;
  font-family:Delicious, serif;
  #background-image:url('heart_border2.png');
  #background-repeat:no-repeat;
  font-size:20px;
  font-weight:bold;
  #background-color: #ffebdb;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

input, textarea {
	font-family: CutiePop, serif;
	#margin-bottom: 20px;
	margin-top: 5px;
	color:Black;
	#font-weight:bold;
	font-size:32px;
	background-color:Beige;
	border: 0px solid;
	border-color: Gray;
}


form#song-filter{
  text-align: left;
}

input.btn {
	color:White;
	font-weight:bold;
	font-size:40px;
	background-color:Red;
	border: 3px solid;
	border-color: Black;
}

.small {
  text-align: left;
  font-family:MyUnderwoodRegular, serif;
  #background-color: #ffebdb;
  font-size:20px;
}

label {
	#color: #B4886B;
	font-family:Impact_Label, serif;
	font-size:42px;
}

label:after { content: ":" }

  #content{
	width: 800px;
	background: white;
	padding: 10px;
	font-family:MyUnderwoodRegular, serif;
	font-size:16px;
	text-indent:10px;
	margin-top:60px;
  }
  .photo{
	padding: 5px;
	padding-bottom: 30px;
	background-color:white;
	margin: 5px;
	position:absolute;
	border: 1px solid #666
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-radius: 10px; 
	-moz-box-shadow: 0px 0px 5px #444; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 5px #444; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 5px #444; /* Opera 10.5, IE 9.0 */
  }
  
  #pic0{
	left:450px; top:30px;
	#width:25px;
  }
  #pic1{
	left:600px; top:320px;
  }
  #pic2{
	left:470px; top: 666px;
  }
  #pic3{
	left:590px; top: 1050px;
  }
  #pic4{
	left:666px; top: 1501px;
  }
  #pic5{
	left:490px; top: 901px;
  }
  @font-face {
	font-family: 'MyUnderwoodRegular';
	src: url('../fonts/MyUnderwood-webfont.eot');
	src: local('☺'), url('../fonts/MyUnderwood-webfont.woff') format('woff'), url('../fonts/MyUnderwood-webfont.ttf') format('truetype'), url('../fonts/MyUnderwood-webfont.svg#webfontnx6xGMOt') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'CutiePop';
	src: local('☺'), url('../fonts/CutiePop.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Impact_Label';
	src: local('☺'), url('../fonts/Impact_Label.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  #license {
	font-size: 0.8em;
	/*position:absolute;*/
	/*float:right;*/
	width:200px;
	bottom: 0px;
	left: 150px;
	-webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	display:block;
	padding:40px;
	margin:40px;
	color:#fff;
	background:#525252;
  }
  #backlink{
	background: #666;
	z-index:7;
	position:absolute;
	right: -150px;
	top: 100px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	#text-align: center;
	padding:20px;
	padding-right:150px;
	padding-left:150px;
  }
  #backlink a{
	font-size: 20px;
	color: #fff;
	text-shadow: 0px 0px 8px #fff;
	text-decoration: none;
  }
  #backlink a:hover{
	text-decoration: underline;
	text-shadow: 0px 0px 12px #fff;
  }
  #content a{
	text-decoration:none;
	color: #000;
  }
  #content a:hover{
	text-decoration: none;
	color: #000;
	text-shadow: 0px 0px 50px #000;
  }



